body {
      height: 100vh;
      display: flex;
      flex-direction:column;
      justify-content: center;
      align-items: center;
      background: grey;
      font-family: Arial, sans-serif;
      position: relative;
      overflow: hidden;
    }
    h3 {
      font-size: 30px;
      color:black;
      text-align: center;
    }
    .circle {
      width: 300px;
      height: 300px;
      background: white;
      border-radius: 50%;
      position: absolute;
      opacity:0.4;
      z-index: 1;
    }

    .circle1 {
      top: -120px;
      left: -120px;
    }

    .circle2 {
      bottom: -120px;
      right: -120px;
    }
    .card {
      background: white;
      padding:40px;
      width: 300px;
      border-radius:12px;
      box-shadow: 0 10px 60px black;
      z-index:2;
      text-align: center;
    }

    input {
      width:90%;
      padding: 15px;
      border: 1px solid black;
      outline:black;
      border-radius: 8px;
      margin-bottom:20px;
      font-size: 20px;
    }
    button {
      width: 100%;
      padding: 15px;
      border: none;
      border-radius: 8px;
      background:grey;
      color: white;
      font-size: 20px;
      cursor:pointer;

    }
    button:hover {
      background:black;
    }
    @media (max-width: 480px) {
      h3 {
        font-size: 22px;
      }

      .card {
        width: 90%;
        padding: 30px 20px;
      }

      .circle {
        width: 200px;
        height: 200px;
      }

      .circle1 {
        top: -80px;
        left: -80px;
      }

      .circle2 {
        bottom: -80px;
        right: -80px;
      }
      input {
        padding: 10px;
      }

      button {
        padding: 10px;
        font-size: 15px;
      }
    }