.header
{
    background:grey;
    font-size:40px;
    font-weight:500;
    color:white;
}
.input-form
{
    display:flex;
    border:1px black solid;
    justify-content: space-around;
    width:95%;
    margin:auto;
    border-radius:8px;
    box-shadow:0px 0px 10px black;
    margin-top:25px;
    padding:25px
}
#add-button
{   margin-top:10px;
    background:grey ;
    width:50px;
    height:50px;
    border-radius:50%;
    font-size:x-large;
    font-weight:800;
    color:white;
}
 .inputs
{
        width: 30%;
}
.cards
{
    display:flex;
    width:95%;
    margin:auto;
    justify-content: space-between;
    
}
    
.card{
    background:grey;
    border:0px;
}
.card-body
{
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height:150px;
}
.transaction-table
{   
    width:95%;
    margin:auto;
    border:1px black solid;
    margin-top:20px;
    border-radius:8px;
    overflow:hidden;
}
#header-row
{
    background:grey ;
    font-size: 20px;
    height:50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
#header-row th{
    padding:15px 10px;
    color:white;
}


@media (max-width: 768px) {

  .header {
    font-size: 26px;
    text-align: center;
    padding: 10px;
  }

  .input-form {
    flex-direction: column;
    gap: 15px;
    padding: 15px;
  }

  .inputs {
    width: 100%;
  }

  #add-button {
    width: 100%;
    height: 45px;
    border-radius: 8px;
    font-size: 22px;
  }

  .cards {
    flex-direction: column;
    gap: 15px;
  }

  .card-body {
    height: auto;
    padding: 15px;
    text-align: center;
  }

  .transaction-table {
    font-size: 14px;
    overflow-x: auto;
  }

  #header-row {
    font-size: 16px;
  }

  #header-row th {
    padding: 10px;
  }

  table td {
    padding: 8px;
    text-align: center;
  }
}
